body { max-width: 960px; margin: 20px auto;}

.horizontalList li {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding: 5px 5px 2px 5px;
}

#solution li {
    border-bottom: 1px solid black;
    margin-right: 5px;
}

#solution li.space {
    border-bottom: none;
}

#invalidGuesses li::after {
    content: ",";
}
#invalidGuesses li:last-of-type::after { 
    content: "";
}