/*  colors
    blue: #204d9e
    yellow: #fddd5b
    teal: #1eb2c9
    red #e62a39;
*/
* { box-sizing: border-box;} 
body { 
    color: #fddd5b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body, .jumbotron {
    background: #204d9e;
}

.jumbotron {
    max-width: 650px;
    margin: 0 auto;
}

.jumbotron img {
    width: 100%;
    height: auto;
}

.panel {
    background: #1eb2c9;
}

.panel-heading {
    font-weight: bold;
    background: #fddd5b;
    color: #e62a39;
    font-size: calc(1vw + 1vh);
}

.panel-body { 
    min-height: 67px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
}

.horizontalList {
    padding-left: 0px;
}
.horizontalList li {
    display: inline-block;
    padding: 5px 5px 2px 5px;
}

#solution li {
    font-size: 2.5vw;
    border-bottom: 1px solid #fddd5b;
    margin-right: 5px;
}

#solution li[solved='true'] {
    border-bottom: none;
    color: #204d9e;
}

#solution li[failed='true'] {
    color: #e62a39;
    border-bottom: none;
}

#invalidGuesses li {
    font-size: 1.5vw;
}
#invalidGuesses li::after {
    content: ",";
}
#invalidGuesses li:last-of-type::after { 
    content: "";
}

.btn-group>.btn {
    padding-left: 8px;
    padding-right: 8px;
}